# environment: "development"
environment: "production"

##########################################################################
#                                                                        #
#                          Service Identity Part                         #
#               For Further information, please check README             #
#                                                                        #
##########################################################################

service:
  name: "template"
  id: "ID"
  baseURL: "/api/v1/logger/"
  grpc:
    host: "localhost"
    port: ":8082"
    protocol: tcp
    tls: false
  http:
    host: "localhost"
    port: ":8080"
    requestTimeout: 32
  routes:
    - URL: "metrics/"
      Name: "metrics"
      Description: "check middleware"
      Method: GET
      MaxAllowedAnomaly: 100
      Middleware:

##########################################################################
#                                                                        #
#                         Server Config Part                             #
#       Please set the server parameters based on your own settings      #
#                                                                        #
##########################################################################

jaeger:
  hostPort: "jaeger:6831"
  logSpans: true

redis:
  username: ""
  password: ""
  db: 0
  host: "redis:6379"
  logger: ""
  userDuration: "1000000000s"

multiInstanceMode: false

log:
  disableColors: false
  quoteEmptyFields: false

etcd:
  endpoints:
    - "http://etcd:2379"
    - "http://etcd2:2379"
    - "http://etcd3:2379"
  watchList:
    - "redis"
    - "service"
    - "postgress"

postgress:
  username: "root"
  password: "password"
  host: "db"
  schema: "micro"
  automigrate: true
  logger: true

Nats:
  username: ""
  password: ""
  auth: false
  allowReconnect: true
  maxReconnect: 50
  reconnectWait: 5
  timeout: 3
  endpoints:
    - "nats://nats:4222"

jwt:
  secret: "xxxxxxxxxxxxx"
  rSecret: "yyyyyyyyyyyyyyy"
