
##########################################################################
#                                                                        #
#                          Service Identity Part                         #
#               For Further information, please check README             #
#                                                                        #
##########################################################################

# mode: if mode true: we in production
# if mode false we in debug

service:
  name: "template"
  id: "ID"
  baseURL: "/api/v1/logger/"
  grpc:
    host: "localhost"
    port: ":8082"
    protocol: tcp
    tls: false
  http:
    host: "localhost"
    port: ":8080"
    requestTimeout: 32

##########################################################################
#                                                                        #
#                         Server Config Part                             #
#       Please set the server parameters based on your own settings      #
#                                                                        #
##########################################################################

jaeger:
  hostPort: "jaeger:6831"
  logSpans: true

redis:
  username: ""
  password: ""
  db: 0
  host: "redis:6379"
  logger: ""
  userDuration: "1000000000s"

multiInstanceMode: false

log:
  disableColors: false
  quoteEmptyFields: false

etcd:
  username: "ruser"
  password: "T0pS3cr3t"
  endpoints:
    - http://etcd0:2379

postgres:
  username: "admin"
  password: "password"
  host: "postgres:5432"
  schema: "micro"


Nats:
  username: ""
  password: ""
  auth: false
  encoder: "json"
  allowReconnect: true
  maxReconnect: 50
  reconnectWait: 5
  timeout: 3
  endpoints:
    - "nats://nats:4222"

jwt:
  secret: "xxxxxxxxxxxxx"
  rSecret: "yyyyyyyyyyyyyyy"
